@forward "./base";
@forward "./components";

.header {
    background: #fff8f3;
    .header-navbar {
        @extend %dis-aline-flex;
        padding: 42px 0 20px;
        .navbar {
            &__list {
                margin-left: 265px;
                @extend %dis-aline-flex;
                gap: 48px;
            }
            &__link {
                @extend %dis-aline-flex;
            }
            &__text {
                @extend %text-desc;
            }
            &__icon {
                margin-left: 7px;
                margin-top: -4px;
            }
        }

        .header__actions {
            margin-left: auto;
            @extend %dis-aline-flex;
            gap: 28px;
            .header__login {
                color: #201830;
                @extend %text-btn;
            }
            .header__signup {
                min-width: 116px;
                height: 48px;
            }
        }
    }
}
.header-hero {
    padding: 90px 0 140px;
    background: #fff8f3;
    .hero-container {
        .hero__image {
            width: 100%;
            height: 302px;
            border-radius: 8px;
            object-fit: cover;
        }
        .hero__media__collum-left {
            .hero__card--listener {
                width: 100%;
                display: block;
                position: relative;
                .hero__image--play {
                    padding: 17px 21px;
                    position: absolute;
                    top: 272px;
                    left: 50%;
                    transform: translateX(-50%);

                    border-radius: 9px;
                    background: #fff;
                    box-shadow: 0 12px 44px 0 rgba(32, 24, 48, 0.07);
                }
            }

            .hero__stats {
                margin-top: 53px;
                display: inline-block;
                &--text {
                    color: #201830;
                    font-size: 1.4rem;
                    font-weight: 600;
                }
                &--avatars {
                    display: flex;
                    margin-top: 10px;
                }
                &--avatar {
                    margin-left: -18px;
                    width: 48px;
                    height: 48px;
                    border-radius: 48px;
                    border: 2px solid #fff;
                    object-fit: cover;
                }
                &--avatar:first-child {
                    margin-left: 0;
                }
                &--avatar-count {
                    @extend %dis-aline-flex;
                    justify-content: center;

                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    background: #201830;

                    color: #fff;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }
        }
        .hero__media__collum-right {
            margin-top: 102px;
            position: relative;

            .hero__platforms {
                @extend %dis-aline-flex;
                gap: 18px;
                .hero__platform {
                    &--img {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
            .hero__decor {
                &--top {
                    position: absolute;
                    top: -43px;
                    left: 54px;
                }
                &--bottom {
                    position: absolute;
                    top: 10px;
                    left: 157px;
                }
            }
            .hero__badge {
                position: absolute;
                top: -94px;
                left: 148px;
                @extend %dis-aline-flex;
                justify-content: center;
                flex-direction: column;
                width: 82px;
                height: 82px;
                border-radius: 50%;
                background-color: #ff9051;
                &--count {
                    color: #fff;
                    text-align: center;
                    font-weight: 800;
                }
                &--text {
                    margin-top: 4px;
                    color: #ffefe7;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
            .hero__card--host {
                margin-top: 28px;
                position: relative;
                .hero__author {
                    position: absolute;
                    top: 226px;
                    left: 50%;
                    transform: translateX(-50%);

                    @extend %dis-aline-flex;
                    justify-content: center;
                    flex-direction: column;

                    width: 194px;
                    height: 60px;
                    border-radius: 9px;

                    background: rgba(255, 255, 255, 0.4);
                    box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.07);
                    backdrop-filter: blur(5px);

                    &--name {
                        color: #201830;
                        font-size: 1.4rem;
                        font-weight: 600;
                    }
                    &--role {
                        margin-top: 6px;
                        color: #665f73;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    // left
    .hero__content {
        margin-top: 18px;
        position: relative;
        z-index: 1;
        .hero__title {
            color: #201830;
            font-size: 7rem;
            font-weight: 700;
            line-height: 114.286%;
        }
        .hero__decor {
            position: absolute;
            top: 135px;
            left: 33px;
            z-index: -1;
        }
        .hero__description {
            margin-top: 20px;
            color: #665f73;
            font-size: 1.8rem;
            line-height: 166.667%;
        }
        .hero__action {
            margin-top: 40px;
            @extend %dis-aline-flex;
            &--btn {
                background: #936cdd;
            }
            &--secondary {
                margin-left: 28px;
                @extend %dis-aline-flex;
            }
            &--link {
                color: #201830;

                font-size: 1.8rem;
                font-style: normal;
                font-weight: 600;
                line-height: 3rem; /* 166.667% */
            }
            &--icon {
                @extend %dis-aline-flex;
                justify-content: center;
                margin-left: 8px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: #201830;
            }
        }
    }
}
.directories {
    padding: 160px 0 206px;
    &__content {
        margin-top: 45px;
        position: relative;
        z-index: 1;
    }
    &__title {
        color: #201830;
        font-size: 4.2rem;
        font-weight: 700;
        line-height: 123.81%;
    }
    &__decor {
        position: absolute;
        left: 173px;
        top: 80px;
        z-index: -1;
    }
    &__desc {
        margin-top: 18px;
        @extend %text-desc;
    }
    &__btn {
        margin-top: 38px;
        background: #936cdd;
        @extend %dis-aline-flex;
        justify-content: center;
        &--icon {
            margin-top: 8px;
            @extend %dis-aline-flex;
            justify-content: center;
            margin-left: 8px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #fff;
            color: #936cdd;
        }
    }
    &__icon {
        position: relative;
        &--apple {
            position: absolute;
            left: 195px;
            width: 148px;
            height: 148px;
        }
        &--soundcloud {
            position: absolute;
            right: 0;
            top: 59px;
            width: 100px;
            height: 100px;
        }
        &--castbox {
            position: absolute;
            top: 164px;
            width: 80px;
            height: 80px;
        }
        &--spotify {
            position: absolute;
            top: 273px;
            left: 169px;
            width: 126px;
            height: 126px;
        }
        &--google {
            position: absolute;
            top: 221px;
            right: 48px;
            width: 138px;
            height: 138px;
        }
        &--decor {
            position: absolute;
            top: 55px;
            left: 50%;
            transform: translateX(-50%);
            width: 287px;
            height: 287px;
            border-radius: 287px;
            opacity: 0.4;
            background: #ff9051;
            filter: blur(129px);
        }
    }
}
