@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===================== VARIABLES ===================== */
/* ===================== PLACEHOLDERS ===================== */
.col, .row[class*=row-cols-] > *,
.row [class*=col-], .container, .container-fluid {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container, .container-fluid {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* ===================== LAYOUT ===================== */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * -0.5);
  margin-right: calc(var(--grid-gutter-x) * -0.5);
}
.row[class*=row-cols-] > *,
.row [class*=col-] {
  flex: 0 0 auto;
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

/* ===================== MIXINS ===================== */
/* ===================== GENERATE ===================== */
.row-cols-1 > * {
  width: 100%;
}

.row-cols-2 > * {
  width: 50%;
}

.row-cols-3 > * {
  width: 33.3333333333%;
}

.row-cols-4 > * {
  width: 25%;
}

.row-cols-5 > * {
  width: 20%;
}

.row-cols-6 > * {
  width: 16.6666666667%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    width: 100%;
  }
  .row-cols-sm-2 > * {
    width: 50%;
  }
  .row-cols-sm-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    width: 25%;
  }
  .row-cols-sm-5 > * {
    width: 20%;
  }
  .row-cols-sm-6 > * {
    width: 16.6666666667%;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    width: 100%;
  }
  .row-cols-md-2 > * {
    width: 50%;
  }
  .row-cols-md-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    width: 25%;
  }
  .row-cols-md-5 > * {
    width: 20%;
  }
  .row-cols-md-6 > * {
    width: 16.6666666667%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    width: 100%;
  }
  .row-cols-lg-2 > * {
    width: 50%;
  }
  .row-cols-lg-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    width: 25%;
  }
  .row-cols-lg-5 > * {
    width: 20%;
  }
  .row-cols-lg-6 > * {
    width: 16.6666666667%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xl-1 > * {
    width: 100%;
  }
  .row-cols-xl-2 > * {
    width: 50%;
  }
  .row-cols-xl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    width: 25%;
  }
  .row-cols-xl-5 > * {
    width: 20%;
  }
  .row-cols-xl-6 > * {
    width: 16.6666666667%;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .row-cols-xxl-1 > * {
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.pagination, .header .header-navbar, .header .header-navbar .navbar__list, .header .header-navbar .navbar__link, .header .header-navbar .header__actions, .header .header-navbar .menu-mobile .menu-overlay, .header-hero .hero-container .hero__media__collum-left .hero__stats--avatar-text, .header-hero .hero-container .hero__media__collum-right .hero__platforms, .header-hero .hero-container .hero__media__collum-right .hero__badge, .header-hero .hero-container .hero__media__collum-right .hero__card--host .hero__author, .header-hero .hero__content .hero__action, .header-hero .hero__content .hero__action--secondary, .header-hero .hero__content .hero__action--icon, .directories__btn, .directories__btn--icon, .category .category-grid .category-card__title, .episodes .episodes-section__header, .episodes .episode-card__link, .episodes .episode-card__link--icon, .subscribe__header, .subscribe__form, .footer__social, .footer__social--link, .footer__platform--list {
  display: flex;
  align-items: center;
}

.header .header-navbar .navbar__text, .directories__desc, .category .category-section__desc, .episodes .episode-card__desc, .testimonial__content--desc, .subscribe__desc, .subscribe__form .subscribe__input, .footer__copyright, .footer__left--link {
  color: #665f73;
  /* P2 */
  font-family: "Plus Jakarta Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}

.directories__title, .category .category-section__title, .episodes .episodes-section__title, .testimonial__content--title-text, .subscribe__title--text {
  color: #201830;
  /* H2 */
  font-family: "Plus Jakarta Sans";
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 123.81%;
}

.episodes .episode-card__title, .footer__left--title {
  color: #201830;
  font-family: "Plus Jakarta Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.header .header-navbar .header__actions .header__login, .btn {
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.btn {
  min-width: 157px;
  height: 64px;
  border-radius: 8px;
  background: #201830;
  transition: background 0.4s ease;
}
.btn:hover {
  background: var(--primary-color);
}

:root {
  --primary-color: #936cdd;
  --background-color: #fff8f3;
}

.pagination {
  gap: 12px;
}
@media (max-width: 575.98px) {
  .pagination {
    gap: 5px;
  }
}
.pagination .dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #d8d5de;
}
@media (max-width: 575.98px) {
  .pagination .dot {
    width: 5px;
    height: 5px;
  }
}
.pagination .dot--active {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: var(--primary-color);
}
@media (max-width: 575.98px) {
  .pagination .dot--active {
    width: 7px;
    height: 7px;
  }
}

.hidden-mobile {
  display: none;
}
@media (max-width: 991.98px) {
  .hidden-mobile {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .hidden-mobile {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .hidden-mobile {
    display: block;
  }
}

.sticky {
  position: sticky;
  top: -20px;
  z-index: 9999;
}

.header {
  background: var(--background-color);
}
.header .header-navbar {
  padding: 42px 0 20px;
}
@media (max-width: 991.98px) {
  .header .header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 767.98px) {
  .header .header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 575.98px) {
  .header .header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header .header-navbar .navbar {
  margin-left: 265px;
}
@media (max-width: 1199.98px) {
  .header .header-navbar .navbar {
    margin-left: 100px !important;
  }
}
@media (max-width: 991.98px) {
  .header .header-navbar .navbar {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header .header-navbar .navbar__list {
    padding: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .header .header-navbar .navbar__list {
    padding: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 30px;
  }
}
@media (max-width: 575.98px) {
  .header .header-navbar .navbar__list {
    padding: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 30px;
  }
}
.header .header-navbar .navbar__link {
  padding: 4px 20px;
  transition: transform 0.4s ease;
}
.header .header-navbar .navbar__link:hover {
  transform: translateY(-3px);
}
.header .header-navbar .navbar__text:hover {
  color: var(--primary-color);
}
.header .header-navbar .navbar__icon {
  margin-left: 7px;
  margin-top: -4px;
}
.header .header-navbar .header__actions {
  margin-left: auto;
  gap: 28px;
}
.header .header-navbar .header__actions .header__login {
  color: #201830;
}
.header .header-navbar .header__actions .header__login:hover {
  color: var(--primary-color);
}
.header .header-navbar .header__actions .header__signup {
  min-width: 116px !important;
  height: 48px;
}
@media (max-width: 991.98px) {
  .header .header-navbar .header__actions {
    display: none;
  }
}
@media (max-width: 1399.98px) {
  .header .header-navbar .menu-mobile {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .header .header-navbar .menu-mobile {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header .header-navbar .menu-mobile {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .header .header-navbar .menu-mobile {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .header .header-navbar .menu-mobile {
    display: block;
  }
}
.header .header-navbar .menu-mobile .menu-overlay {
  justify-content: center;
  width: 46px;
  height: 46px;
  transition: box-shadow 0.4s ease;
}
.header .header-navbar .menu-mobile .menu-screen-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.header .header-navbar .menu-mobile .menu-hidden {
  display: none;
}
.header .header-navbar .menu-mobile .menu-drawer {
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease-in;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  padding: 20px;
  transition: right 0.3s ease-in-out;
}
@media (max-width: 991.98px) {
  .header .header-navbar .menu-mobile .menu-drawer {
    inset: 0 0 0 60%;
  }
}
@media (max-width: 767.98px) {
  .header .header-navbar .menu-mobile .menu-drawer {
    inset: 0 0 0 50%;
  }
}
@media (max-width: 575.98px) {
  .header .header-navbar .menu-mobile .menu-drawer {
    inset: 0 0 0 30%;
  }
}
.header .header-navbar .menu-mobile .mobi-nav {
  flex-direction: column;
}
.header .header-navbar .menu-mobile .menu__item {
  margin-left: auto;
  margin-top: 30px;
}
.header .header-navbar .menu-mobile .menu-hidden:checked ~ .menu-overlay {
  border-color: #5d3bee;
  box-shadow: 0 0 10px rgba(93, 59, 238, 0.2);
}
.header .header-navbar .menu-mobile .menu-hidden:checked ~ .menu-screen-overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.header .header-navbar .menu-mobile .menu-hidden:checked ~ .menu-drawer {
  transform: translateX(0);
}

.hidden-mobile {
  display: none;
}
@media (max-width: 991.98px) {
  .hidden-mobile {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .hidden-mobile {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .hidden-mobile {
    display: block;
  }
}

.header-hero {
  padding: 90px 0 140px;
  background: var(--background-color);
}
@media (max-width: 991.98px) {
  .header-hero {
    width: 100%;
  }
}
.header-hero .hero-container .hero__image {
  width: 100%;
  height: 302px;
  border-radius: 8px;
  object-fit: cover;
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__image {
    width: 100%;
    height: 173px;
  }
}
.header-hero .hero-container .hero__media__collum-left .hero__card--listener {
  width: 100%;
  display: block;
  position: relative;
}
.header-hero .hero-container .hero__media__collum-left .hero__card--listener .hero__play {
  position: absolute;
  top: 272px;
  left: 50%;
  transform: translateX(-50%);
  padding: 17px 21px;
  border-radius: 9px;
  background: #fff;
  box-shadow: 0 12px 44px 0 rgba(32, 24, 48, 0.07);
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-left .hero__card--listener .hero__play {
    top: 160px;
    padding: 10px 12px;
    border-radius: 5px;
  }
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-left .hero__card--listener .hero__image--play {
    width: 90px;
    height: 15px;
  }
}
.header-hero .hero-container .hero__media__collum-left .hero__stats {
  margin-top: 53px;
  display: inline-block;
}
.header-hero .hero-container .hero__media__collum-left .hero__stats--text {
  color: #201830;
  font-size: 1.4rem;
  font-weight: 600;
}
.header-hero .hero-container .hero__media__collum-left .hero__stats--avatars {
  display: flex;
  margin-top: 10px;
}
.header-hero .hero-container .hero__media__collum-left .hero__stats--avatar {
  margin-left: -18px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-left .hero__stats--avatar {
    width: 28px;
    height: 28px;
    margin-left: -8px;
    border: 1px solid #fff;
  }
}
.header-hero .hero-container .hero__media__collum-left .hero__stats--avatar:first-child {
  margin-left: 0;
}
.header-hero .hero-container .hero__media__collum-left .hero__stats--avatar-text {
  margin-left: -18px;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #201830;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-left .hero__stats--avatar-text {
    margin-left: -8px;
    width: 28px;
    height: 28px;
    font-size: 0.7rem;
    border: 1px solid #fff;
  }
}
.header-hero .hero-container .hero__media__collum-right {
  margin-top: 102px;
  position: relative;
}
.header-hero .hero-container .hero__media__collum-right .hero__platforms {
  gap: 18px;
}
.header-hero .hero-container .hero__media__collum-right .hero__platforms .hero__platform--img {
  width: 28px;
  height: 28px;
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-right .hero__platforms .hero__platform--img {
    width: 16.612px;
    height: 16.612px;
  }
}
.header-hero .hero-container .hero__media__collum-right .hero__decor-left--top {
  position: absolute;
  top: -43px;
  left: 54px;
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-right .hero__decor-left--top {
    top: -42px;
    left: 32px;
  }
}
.header-hero .hero-container .hero__media__collum-right .hero__decor-left--bottom {
  position: absolute;
  top: 10px;
  left: 157px;
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-right .hero__decor-left--bottom {
    top: 8px;
    left: 93px;
  }
}
.header-hero .hero-container .hero__media__collum-right .hero__badge {
  position: absolute;
  top: -94px;
  left: 148px;
  justify-content: center;
  flex-direction: column;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #ff9051;
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-right .hero__badge {
    width: 48px;
    height: 48px;
    top: -60px;
    left: 97px;
  }
}
.header-hero .hero-container .hero__media__collum-right .hero__badge--count {
  color: #fff;
  text-align: center;
  font-weight: 800;
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-right .hero__badge--count {
    font-size: 0.8rem;
  }
}
.header-hero .hero-container .hero__media__collum-right .hero__badge--text {
  margin-top: 4px;
  color: #ffefe7;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-right .hero__badge--text {
    font-size: 0.6rem;
  }
}
.header-hero .hero-container .hero__media__collum-right .hero__card--host {
  margin-top: 28px;
  position: relative;
}
.header-hero .hero-container .hero__media__collum-right .hero__card--host .hero__author {
  position: absolute;
  top: 226px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  flex-direction: column;
  width: 194px;
  height: 60px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5px);
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-right .hero__card--host .hero__author {
    top: 150px;
    width: 115px;
    height: 35px;
    border-radius: 5px;
  }
}
.header-hero .hero-container .hero__media__collum-right .hero__card--host .hero__author--name {
  color: #201830;
  font-size: 1.4rem;
  font-weight: 600;
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-right .hero__card--host .hero__author--name {
    font-size: 0.8306rem;
  }
}
.header-hero .hero-container .hero__media__collum-right .hero__card--host .hero__author--role {
  margin-top: 6px;
  color: #665f73;
  font-size: 1.2rem;
}
@media (max-width: 575.98px) {
  .header-hero .hero-container .hero__media__collum-right .hero__card--host .hero__author--role {
    font-size: 0.7rem;
  }
}
@media (max-width: 991.98px) {
  .header-hero .hero__content {
    margin-top: 39px !important;
  }
}
.header-hero .hero__content {
  margin-top: 18px;
  position: relative;
  z-index: 1;
}
.header-hero .hero__content .hero__title {
  color: #201830;
  font-size: 7rem;
  font-weight: 700;
  line-height: 114.286%;
}
@media (max-width: 575.98px) {
  .header-hero .hero__content .hero__title {
    font-size: 3.6rem;
  }
}
.header-hero .hero__content .hero__decor {
  position: absolute;
  top: 135px;
  left: 33px;
  z-index: -1;
}
@media (max-width: 1199.98px) {
  .header-hero .hero__content .hero__decor {
    top: 216px;
  }
}
@media (max-width: 991.98px) {
  .header-hero .hero__content .hero__decor {
    top: 135px;
  }
}
@media (max-width: 575.98px) {
  .header-hero .hero__content .hero__decor {
    left: 0;
    top: 70px;
  }
}
@media (max-width: 575.98px) {
  .header-hero .hero__content .hero__decor--img {
    width: 167px;
    height: 16px;
  }
}
.header-hero .hero__content .hero__desc {
  margin-top: 20px;
  color: #665f73;
  font-size: 1.8rem;
  line-height: 166.667%;
}
.header-hero .hero__content .hero__action {
  margin-top: 40px;
}
.header-hero .hero__content .hero__action--btn {
  background: var(--primary-color);
  transition: background 0.4s ease;
}
.header-hero .hero__content .hero__action--btn:hover {
  background: #7a51c7;
}
.header-hero .hero__content .hero__action--secondary {
  margin-left: 28px;
}
.header-hero .hero__content .hero__action--secondary:hover .hero__action--link {
  color: var(--primary-color);
}
.header-hero .hero__content .hero__action--secondary:hover .hero__action--icon {
  transform: translateX(5px);
  background: var(--primary-color);
}
.header-hero .hero__content .hero__action--link {
  color: #201830;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem; /* 166.667% */
  transition: color 0.4s ease;
}
.header-hero .hero__content .hero__action--icon {
  justify-content: center;
  margin-left: 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #201830;
  transition: all 0.4s ease;
}

.directories {
  padding: 160px 0 206px;
}
@media (max-width: 991.98px) {
  .directories .row > div:first-child {
    order: 2;
  }
  .directories .row > div:last-child {
    order: 1;
  }
}
.directories__content {
  margin-top: 45px;
  position: relative;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .directories__content {
    width: 100%;
    margin-top: 438px;
  }
}
.directories__title {
  max-width: 470px;
}
@media (max-width: 575.98px) {
  .directories__title {
    width: 100%;
    font-size: 2.6rem;
  }
}
.directories__decor {
  position: absolute;
  left: 173px;
  top: 80px;
  z-index: -1;
}
@media (max-width: 575.98px) {
  .directories__decor--img {
    width: 127px;
    height: 16px;
  }
}
@media (max-width: 991.98px) {
  .directories__decor {
    width: 127px;
    height: 16px;
    left: 168px;
    top: 68px;
  }
}
@media (max-width: 575.98px) {
  .directories__decor {
    left: 7px;
    top: 52px;
  }
}
.directories__desc {
  margin-top: 18px;
}
@media (max-width: 575.98px) {
  .directories__desc {
    width: 100%;
    font-size: 1.4rem;
  }
}
.directories__btn {
  margin-top: 38px;
  background: var(--primary-color);
  justify-content: center;
  transition: background 0.4s ease;
}
.directories__btn:hover {
  background: #7a51c7;
}
.directories__btn:hover .directories__btn--icon {
  transform: translateX(6px);
}
.directories__btn--icon {
  justify-content: center;
  margin-left: 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  color: var(--primary-color);
  transition: transform 0.4s ease-in-out;
}
.directories__icon {
  position: relative;
}
.directories__icon--apple {
  position: absolute;
  left: 195px;
  width: 148px;
  height: 148px;
}
@media (max-width: 1199.98px) {
  .directories__icon--apple {
    left: 139px;
  }
}
@media (max-width: 991.98px) {
  .directories__icon--apple {
    left: 224px;
  }
}
@media (max-width: 575.98px) {
  .directories__icon--apple {
    width: 89px;
    height: 89px;
    left: 128px;
  }
}
.directories__icon--soundcloud {
  position: absolute;
  right: 0;
  top: 59px;
  width: 100px;
  height: 100px;
}
@media (max-width: 575.98px) {
  .directories__icon--soundcloud {
    width: 58px;
    height: 58px;
    top: 35px;
  }
}
.directories__icon--castbox {
  position: absolute;
  top: 164px;
  width: 80px;
  height: 80px;
}
@media (max-width: 575.98px) {
  .directories__icon--castbox {
    width: 48px;
    height: 48px;
  }
}
.directories__icon--spotify {
  position: absolute;
  top: 273px;
  left: 169px;
  width: 126px;
  height: 126px;
}
@media (max-width: 575.98px) {
  .directories__icon--spotify {
    width: 75px;
    height: 75px;
    left: 119px;
  }
}
.directories__icon--google {
  position: absolute;
  top: 221px;
  right: 48px;
  width: 138px;
  height: 138px;
}
@media (max-width: 1199.98px) {
  .directories__icon--google {
    right: 0;
  }
}
@media (max-width: 991.98px) {
  .directories__icon--google {
    right: 54px;
  }
}
@media (max-width: 575.98px) {
  .directories__icon--google {
    width: 82px;
    height: 82px;
    right: 35px;
  }
}
.directories__icon--decor {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 287px;
  height: 287px;
  border-radius: 287px;
  opacity: 0.4;
  background: #ff9051;
  filter: blur(129px);
}
.category {
  padding: 0 0 160px;
}
@media (max-width: 575.98px) {
  .category {
    padding: 0 0 100px;
  }
}
.category .category-section__header {
  position: relative;
}
.category .category-section__title {
  text-align: center;
}
@media (max-width: 575.98px) {
  .category .category-section__title {
    font-size: 2.6rem;
  }
}
.category .category-section__desc {
  margin-top: 18px;
  text-align: center;
}
.category .category-section__decor {
  position: absolute;
  top: 33px;
  left: 49.5%;
  z-index: -1;
}
@media (max-width: 575.98px) {
  .category .category-section__decor {
    top: 20px;
    left: 52%;
  }
}
@media (max-width: 575.98px) {
  .category .category-section__decor--img {
    width: 107px;
    height: 16px;
  }
}
.category .category-grid {
  margin-top: 70px;
}
.category .category-grid .category-card {
  position: relative;
  border-radius: 8px;
}
.category .category-grid .category-card--large {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.category .category-grid .category-card--medium, .category .category-grid .category-card--small {
  width: 100%;
  height: 285px;
  overflow: hidden;
}
.category .category-grid .category-card__img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.category .category-grid .category-card__img:hover {
  transform: scale(1.2);
}
.category .category-grid .category-card__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 86px;
  border-radius: 0 0 8px 8px;
  fill: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.category .category-grid .category-card__title {
  margin-top: 16px;
  margin-left: 24px;
  gap: 8px;
}
.category .category-grid .category-card__title:hover .icon-arrow {
  transform: translate(10px);
}
.category .category-grid .category-card__name {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
}
.category .category-grid .category-card .icon-arrow {
  transition: transform 0.4s ease;
}
.category .category-grid .category-card__count {
  margin-left: 24px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.4rem; /* 171.429% */
}
.category__btn {
  display: block;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
}

.episodes {
  padding: 100px 0;
  background: var(--background-color);
}
.episodes .episodes-section__header {
  justify-content: space-between;
}
@media (max-width: 575.98px) {
  .episodes .episodes-section__header {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
}
.episodes .episodes-section__btn {
  display: none;
}
.episodes .episodes-section__left {
  position: relative;
  z-index: 1;
}
@media (max-width: 575.98px) {
  .episodes .episodes-section__title {
    font-size: 2.6rem;
  }
}
.episodes .episodes-section__decor {
  position: absolute;
  top: 36px;
  left: 205px;
  z-index: -1;
}
@media (max-width: 575.98px) {
  .episodes .episodes-section__decor {
    width: 103px;
    height: 16px;
    top: 46px;
    left: 8px;
  }
}
.episodes .episodes-section__pagination {
  margin-top: 57px;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .episodes .episodes-section__pagination {
    margin-top: 0;
  }
}
@media (max-width: 991.98px) {
  .episodes .episodes-grid .row > div:nth-child(2) {
    order: 3;
  }
  .episodes .episodes-grid .row > div:nth-child(3) {
    order: 4;
  }
}
@media (max-width: 1199.98px) {
  .episodes .episodes-grid .row > div:nth-child(2) {
    order: 3;
  }
  .episodes .episodes-grid .row > div:nth-child(3) {
    order: 4;
  }
}
@media (max-width: 575.98px) {
  .episodes .episodes-grid .row {
    display: flex;
    flex-wrap: nowrap; /* Ngăn các thẻ card nhảy xuống hàng dưới */
    overflow-x: auto; /* Cho phép cuộn ngang */
    scroll-snap-type: x mandatory; /* Giúp card tự động "khớp" vào giữa khi vuốt */
    padding-bottom: 20px; /* Tránh bị mất bóng đổ (box-shadow) bên dưới */
    -webkit-overflow-scrolling: touch; /* Giúp cuộn mượt hơn trên iPhone */
    overflow: hidden;
  }
}
@media (max-width: 1199.98px) {
  .episodes .episodes-grid__btn {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .episodes .episodes-grid__btn {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .episodes .episodes-grid__btn {
    display: block;
    margin-top: 38px;
  }
}
.episodes .episode-card {
  margin-top: 84px;
}
@media (max-width: 575.98px) {
  .episodes .episode-card {
    margin-top: 38px;
  }
}
.episodes .episode-card--reverse .row > div:first-child {
  order: 2;
}
.episodes .episode-card--reverse .row > div:last-child {
  order: 1;
}
@media (max-width: 575.98px) {
  .episodes .episode-card--reverse .row > div:first-child {
    order: 1;
  }
  .episodes .episode-card--reverse .row > div:last-child {
    order: 2;
  }
}
.episodes .episode-card__img {
  width: 100%;
  height: 286px;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 575.98px) {
  .episodes .episode-card__img {
    height: 170px;
  }
}
.episodes .episode-card__visual {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.episodes .episode-card__visual :hover {
  transform: scale(1.1);
}
@media (max-width: 575.98px) {
  .episodes .episode-card__visual {
    height: 170px;
  }
}
.episodes .episode-card__visual--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.episodes .episode-card__info {
  margin-top: 29px;
}
@media (max-width: 575.98px) {
  .episodes .episode-card__info {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.episodes .episode-card__meta {
  color: #fd6f1f;
  font-size: 1.4rem;
  line-height: 171.429%;
}
@media (max-width: 575.98px) {
  .episodes .episode-card__meta {
    font-size: 1rem;
  }
}
.episodes .episode-card__title {
  margin-top: 6px;
}
@media (max-width: 575.98px) {
  .episodes .episode-card__title {
    font-size: 1.2rem;
  }
}
@media (max-width: 575.98px) {
  .episodes .episode-card__desc {
    font-size: 1rem;
    width: 100%;
  }
}
.episodes .episode-card__link {
  gap: 6px;
  margin-top: 18px;
}
.episodes .episode-card__link--text {
  color: #201830;
  font-size: 1.4rem;
  font-weight: 600;
  transition: color 0.4s ease;
}
@media (max-width: 575.98px) {
  .episodes .episode-card__link--text {
    font-size: 1rem;
  }
}
.episodes .episode-card__link--icon {
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #201830;
  transition: all 0.4s ease;
}
@media (max-width: 575.98px) {
  .episodes .episode-card__link--icon img {
    width: 4px;
    height: 4px;
  }
}
@media (max-width: 575.98px) {
  .episodes .episode-card__link--icon {
    width: 10px;
    height: 10px;
  }
}
.episodes .episode-card__link:hover .episode-card__link--text {
  color: var(--primary-color);
}
.episodes .episode-card__link:hover .episode-card__link--icon {
  background: var(--primary-color);
  transform: translateX(3px);
}

.testimonial {
  padding: 168px 0 160px;
}
@media (max-width: 575.98px) {
  .testimonial {
    padding: 100px 0 100px;
  }
}
@media (max-width: 767.98px) {
  .testimonial .row > div:first-child {
    order: 2;
  }
  .testimonial .row > div:last-child {
    order: 1;
  }
}
.testimonial__img {
  position: relative;
}
@media (max-width: 575.98px) {
  .testimonial__img {
    margin-top: 28px;
  }
}
.testimonial__img--primary {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 49%;
}
.testimonial__img--secondary {
  width: 67%;
  display: block;
  margin-left: auto;
}
.testimonial__img--01 {
  width: 100%;
  height: 284px;
  object-fit: cover;
  border-radius: 8px;
}
@media (max-width: 575.98px) {
  .testimonial__img--01 {
    height: 168px;
  }
}
.testimonial__img--02 {
  width: 100%;
  height: 444px;
  object-fit: cover;
  border-radius: 8px;
}
@media (max-width: 575.98px) {
  .testimonial__img--02 {
    height: 262px;
  }
}
.testimonial__content {
  margin-top: 48px;
}
@media (max-width: 575.98px) {
  .testimonial__content {
    margin-top: 0;
  }
}
.testimonial__content--title {
  margin-top: 18px;
  position: relative;
}
@media (max-width: 575.98px) {
  .testimonial__content--title-text {
    font-size: 2.6rem;
  }
}
.testimonial__content--title-decor {
  position: absolute;
  left: 185px;
  top: 31px;
  z-index: -1;
}
@media (max-width: 575.98px) {
  .testimonial__content--title-decor {
    width: 93px;
    height: 16px;
    left: 128px;
    top: 17px;
  }
}
.testimonial__content--quote {
  margin-top: 36px;
}
.testimonial__content--author {
  margin-top: 18px;
  color: #aba6b5;
  /* P3 */
  font-size: 1.4rem;
  line-height: 171.429%;
}
.testimonial__pagination {
  margin-left: 74px;
}
@media (max-width: 575.98px) {
  .testimonial__pagination {
    margin-left: 50px;
  }
}

.subscribe .subscribe-section {
  padding: 100px;
  border-radius: 12px;
  background: #201830;
  position: relative;
}
@media (max-width: 767.98px) {
  .subscribe .subscribe-section {
    padding: 50px 18px;
  }
}
.subscribe .subbscribe-star {
  position: absolute;
}
.subscribe .subbscribe-star-1 {
  top: 180px;
  right: 27px;
}
@media (max-width: 767.98px) {
  .subscribe .subbscribe-star-1 {
    top: 481px;
    right: 34px;
  }
}
.subscribe .subbscribe-star-2 {
  top: 368px;
  left: 35px;
}
@media (max-width: 767.98px) {
  .subscribe .subbscribe-star-2 {
    top: 425px;
    left: 231px;
  }
}
.subscribe .subbscribe-star-3 {
  top: 26px;
  left: 528px;
}
@media (max-width: 767.98px) {
  .subscribe .subbscribe-star-3 {
    top: 425px;
    left: 350px;
  }
}
@media (max-width: 575.98px) {
  .subscribe .subbscribe-star-3 {
    top: 446px;
    left: 273px;
  }
}
.subscribe__header {
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .subscribe__header {
    display: block;
  }
}
.subscribe__title {
  position: relative;
  z-index: 1;
}
.subscribe__title--text {
  color: #fff;
}
@media (max-width: 767.98px) {
  .subscribe__title--text {
    font-size: 2.6rem;
    max-width: 100%;
  }
}
.subscribe__title--decor {
  position: absolute;
  top: 82px;
  z-index: -1;
}
@media (max-width: 767.98px) {
  .subscribe__title--decor {
    top: 9px;
    left: -12px;
  }
}
.subscribe__desc {
  max-width: 470px;
  color: #aba6b5;
}
@media (max-width: 991.98px) {
  .subscribe__desc {
    max-width: 300px;
  }
}
@media (max-width: 767.98px) {
  .subscribe__desc {
    font-size: 1.4rem;
    margin-top: 12px;
    max-width: 100%;
  }
}
.subscribe__form {
  margin-top: 70px;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .subscribe__form {
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
  }
}
.subscribe__form--wrapper {
  width: 370px;
  height: 64px;
  border-radius: 8px;
}
@media (max-width: 767.98px) {
  .subscribe__form--wrapper {
    width: 100%;
  }
}
.subscribe__form .subscribe__input {
  width: 100%;
  height: 100%;
  padding: 0 28px;
  border-radius: 8px;
  background: #2b213f;
  border: none;
  color: #aba6b5;
}
@media (max-width: 767.98px) {
  .subscribe__form .subscribe__input {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .subscribe__form .subscribe__input {
    padding: 0 10px;
  }
}
.subscribe__form .subscribe__btn {
  background: var(--primary-color);
  transition: background 0.4s ease;
}
.subscribe__form .subscribe__btn:hover {
  background: #7a51c7;
}
@media (max-width: 767.98px) {
  .subscribe__form .subscribe__btn {
    display: block;
    margin-right: auto;
  }
}

.footer {
  padding: 100px 0 38px;
  background: #fff8f3;
}
.footer__section {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer__section {
    flex-direction: column;
    justify-content: flex-start;
    gap: 38px;
  }
}
@media (max-width: 991.98px) {
  .footer__section {
    flex-direction: column;
    justify-content: flex-start;
    gap: 38px;
  }
}
.footer__copyright {
  margin-top: 14px;
  width: 270px;
}
@media (max-width: 1199.98px) {
  .footer__copyright {
    max-width: 90%;
  }
}
.footer__social {
  margin-top: 18px;
  gap: 14px;
}
.footer__social--link {
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #201830;
  transition: background 0.4s ease;
}
.footer__social--link:hover {
  background: var(--primary-color);
}
.footer__left {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}
@media (max-width: 1199.98px) {
  .footer__left {
    gap: 50px;
  }
}
@media (max-width: 767.98px) {
  .footer__left {
    flex-direction: column;
    justify-content: flex-start;
    gap: 38px;
  }
}
.footer__left--list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__left--item :hover {
  text-shadow: 0.5px 0 0 #212832;
}
.footer__left--link {
  transition: text-shadow 0.4s ease;
}
.footer__platform--list {
  margin-top: 24px;
  gap: 16px;
}
.footer__platform--item {
  width: 36px;
  height: 36px;
}

/*# sourceMappingURL=main.css.map */
