%text-btn {
    color: #fff;
    text-align: center;
    font-weight: 600;
}
.btn {
    min-width: 157px;
    height: 64px;
    border-radius: 8px;
    background: #201830;
    @extend %text-btn;
    &:hover {
        opacity: 0.8;
    }
}
