%dis-aline-flex {
    display: flex;
    align-items: center;
}
%text-desc {
    color: #665f73;

    /* P2 */
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}
%text-h2 {
    color: #201830;

    /* H2 */
    font-family: "Plus Jakarta Sans";
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 123.81%;
}
%text-h3 {
    color: #201830;
    font-family: "Plus Jakarta Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
