%dis-aline-flex {
    display: flex;
    align-items: center;
}
%text-desc {
    color: #665f73;

    /* P2 */
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}
